<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

  <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>

<body>
    <div class="wrapper">
	<form class="form-signin">	
        	<h2 class="form-signin-heading">ID: <%= user.id %><br/>Username: <%= user.login %><br/></h2>
	        	<a class="btn btn-lg btn-primary btn-block" href="/admin/admin">Add films</a>
				<a class="btn btn-lg btn-primary btn-block" href="/logout">Log out</a>
	</form>
  </div> 
</body>
</html>
